/* Navbar Styles */
.navbar {
    
    
    background-image: linear-gradient(90deg, #020f00 0%, #012703 52.5%, #020f00 100%);
    padding: 0 2rem;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 70px;
}

.nav-logo a {
    color: #ecf0f1;
    font-size: 1.5rem;
    font-family: cursive, open-sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.nav-menu {
    color: #ecf0f1;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.nav-user-options {
    color: #ecf0f1;
    display: flex;
   align-items: center;
    gap: 1rem;
}

.btn-order {
    background-color: #e69c00;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-order:hover {
    background-color: #c39c00;
    transform: scale(1.1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
